<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./css/w3.css">
</head>

<body>
  <div class="w3-center">
    {% set max_count = lessons|groupby('time_start')|max_length_of_groups %}
    {% for group in lessons|groupby('time_start') %}
    {% set count = group.list|length %}
    <div class="w3-row w3-border w3-green">
      <div class="w3-col s2 w3-blue">
        <div class="w3-row s6">
            <p>{{group.list|map(attribute='time_start')|first}}</p>
        </div>
        <div class="w3-row s6">
            <p>{{group.list|map(attribute='time_end')|first}}</p>
        </div>
      </div>
      {% for item in group.list|add_empty_subgroups %}
      {% if item.subgroup=='0' %}
      <div class="w3-col s10">
        {% else %}
        <div class="w3-col s5">
          {% endif %}
          {% if item!=None %}
          <div class="w3-col s2">
            <p>{{item.type}}</p>
          </div>
          <div class="w3-col s7">
            <div class="w3-row s6">
              <p>{{item.subject}}</p>
            </div>
            <div class="w3-row s6">
              <p>{{item.teacher}}</p>
            </div>
          </div>
          <div class="w3-col s3">
            <p>{{item.audience}}</p>
          </div>
          <!-- {% if item.subgroup!='0' %}
          <p>{{item.subgroup}}</p>
          {% endif %} -->
          {% endif %}
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</body>

</html>